.air-navigation {

  @include desktop1024 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin-top: 50px;

    @include tablet {
      margin-top: 25px;
      display: flex;
      gap: 40px;
      align-items: center;
    }

    @include desktop1024 {
      margin-top: 0;
      gap: 64px;
    }
  }

  &__list-item {
    margin-top: 24px;
    @include poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;

    &:first-child {
      margin-top: 0;
    }

    @include tablet {
      margin-top: 0;
    }
  }
}
