.contact-us {

  &__title {
    @include poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
  }

  &__subtitle {
    @include poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #fffa;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__call-us {
    margin-top: 48px;

    @include tablet {
      margin-top: 48px;
    }
  }

  &__visit-us {
    margin-top: 40px;

    @include tablet {
      margin-top: 48px;
    }
  }

  &__socials {
    margin-top: 40px;

    @include tablet {
      margin-top: 48px;
    }
  }

  &__number {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
  }

  &__address {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
  }

  &__social-icons {
    margin-top: 20px;

    & > :not(a:first-child) {
      margin-left: 36px;
    }
  }

  &__social-icon {
    &:hover {
      filter: invert(70%) sepia(100%) saturate(3361%) hue-rotate(216deg) brightness(100%) contrast(103%);
    }
  }
}
