.footer {

  background-color: $black;
  display: flex;
  justify-content: center;

  &__item {

    &--send-message {
      margin-top: 0;
      @include desktop1024 {
        grid-area: send-message;
      }
    }

    &--contact-us {
      margin-top: 80px;

      @include tablet {
        margin-top: 120px;
      }

      @include desktop1024 {
        grid-area: contact-us;
        margin-top: 0;
      }
    }

    &--air-navigation {
      margin-top: 85px;

      @include tablet {
        margin-top: 140px;
      }
      @include desktop1024 {
        grid-area: air-navigation;
      }
    }
  }
}
