.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    align-items: flex-start;
  }

  &__input {
    box-sizing: border-box;
    margin-top: 23px;
    width: 100%;
    padding-bottom: 17px;
    padding-top: 17px;
    border-bottom: 1px solid #fffb;
    @include poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background-color: $transparent;
    outline: none;
    transition: border 150ms;

    &:focus {
      border-bottom: 2px solid $mainBlue2;
    }

    &::placeholder {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fffb;
    }

    &--email {
      margin-top: 31px;
    }

    @include tablet {
      margin-top: 31px;
      width: 362px;
    }

    @include desktop1024 {
      width: 370px;
    }

    @include desktop1600 {
      width: 460px;
    }
  }

  &__submit-button {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    background-color: $mainBlue3;
    border-radius: 8px;

    @include tablet {
      margin-top: 80px;
      width: 264px;
    }
  }

  &__submit {
    padding: 16px 0;
    width: 100%;
    background-color: $transparent;
    @include poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: 150ms;

    &:hover {
      background-color: $mainBlue;
    }
  }

}
