.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    box-sizing: border-box;
    margin-top: 23px;
    width: 100%;
    padding-bottom: 17px;
    padding-top:17px ;
    border-bottom: 1px solid #fffb;
    @include poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background-color: $transparent;
    outline: none;
    transition: 150ms;

    &:hover {
      width: calc(100% + 2px);
    }

    &:focus {
      border-bottom: 2px solid $mainBlue2;
      width: calc(100% + 4px);
    }

    &::placeholder {
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #fffb;
    }

    &--email {
      margin-top: 31px;
    }
  }

  &__submit-button {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $mainBlue3;
    border-radius: 8px;

    &:hover {
      width: calc(100% + 2px);
    }
  }

  &__submit {
    padding: 16px 0;
    width: 100%;
    background-color: $transparent;
    @include poppins;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: 150ms;

    &:hover {
      background-color: $mainBlue;
    }
  }

}
