.services {

  &__suptitle {
    @include poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $lightGrey2;
  }

  &__title {
    margin-top: 16px;
    @include poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $darkBlue;
  }

  &__description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $lightGrey;
  }

  &__item {
    margin-top: 24px;
  }

}
