.slider {
  height: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 30px;
  overflow: hidden;

  @include desktop1024 {
    height: 100%;
    border-radius: 30px 0;
  }

  &__control-image {
    width: 100%;
    height: 100%;
  }

  &__slides {
    position: relative;
    left: 0;
    display: flex;
    width: 300%;
    height: 100%;
    overflow: hidden;
    transition: left 150ms;
  }

  &__image {
    height: 100%;
    width: 100vw; // change
    object-fit: cover;

    @include desktop1024 {
      width: 33.33%;
    }

  }

  &__container {
    position: absolute;
    margin-left: 20px;

    @include tablet {
      margin-left: 41px;
    }

    @include desktop1024 {
      display: flex;
      margin-left: 78px;
      margin-bottom: 48px;
    }
  }

  &__controls {
    display: flex;
    margin-bottom: 16px;
    @include desktop1024 {
      display: flex;
      justify-items: center;
      align-items: center;
    }
  }

  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff;
    overflow: hidden;
    &--next {
      margin-left: 16px;
    }

    & > a {
      padding: 6px 13px;
      cursor: pointer;
    }
  }

  &__text {
    @include desktop1024 {
      margin-left: 24px;
    }
  }

  &__title {
    margin-bottom: 8px;
    @include poppins;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
  }

  &__info {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;

    @include desktop1024 {
      max-width: 266px;
    }
  }
}
