$mainBlue: #2060f6;
$mainBlueOpacity22: #2060f622;
$mainBlue2: #144ed4;
$mainBlue3: #144ed5;
$darkBlue: #253757;
$darkBlue2: #334563;
$lightGrey: #6c788b;
$lightGrey2: #c0cdd7;
$white: #e9f0ff;
$black: #2c2c2c;
$transparent: #fff0;
